.shortened {
    margin-top: 20px;
    font-size: 1.2rem;
}

.shortened-url {
    color: #007bff;
}

.content {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
    margin: 70px auto;
    width: 80%;
}


body {
    font-family: "Raleway", sans-serif !important;

}

input {
    height: 40px;
    font-size: 1.2rem;
    padding: 0 10px;
    border: 1px solid #ccc;
    width: 60%;
}

button {
    height: 42px;
    font-size: 1.2rem;
    padding: 0 10px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border: 1px solid #007bff;
    width: 20%;
}



button:hover {
    background-color: #0069d9;
    border: 1px solid #0062cc;
}

p {
    margin-top: 20px;
}


h1 {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #080808;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

h1 span {
    display: block;
    font-size: 0.5em;
    line-height: 1.3;
}

h1 em {
    font-style: normal;
    font-weight: 600;
    text-align: center;
}

.two h1 {
    text-transform: capitalize;
}


.two h1 span {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 3em;
    padding-left: 0.25em;
    color: rgba(0, 0, 0, 0.4);
}

.alt-two h1 {
    text-align: center;
}

.alt-two h1:before {
    left: 50%;
    margin-left: -30px;
}

#stats-link {
    display: block;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    margin-top: 5px;
    font-weight: 300;
    color: #080808;

}