* {
    font-family: "Raleway", sans-serif !important;

}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    height: 42px;
    font-size: 1.2rem;
    padding: 0 10px;
    border: 1px solid #ccc;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.table-container {
    width: fit-content;
    margin: 0 auto;
}

.original-url {
    color: #007bff;
    text-decoration: none;
}

.container {
    text-align: center;
}

.goBackArrow {
    text-align: left;
    margin-left: 20px;
}

.goBackArrow a {
    text-decoration: none;
    color: #007bff;
    font-size: 1.2rem;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px auto;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    min-width: 800px;
}

.styled-table thead tr {
    background-color: #007bff;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}